---
import Navigation from './Navigation.astro';
---

<!doctype html>
<html lang="en" data-clay-theme="light-only">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <style>
      body {
        margin: 0;
      }
      html {
        background: rgb(249, 250, 251);
      }
    </style>
  </head>
  <body id="__astro">
    <Navigation />
    <slot />
  </body>
</html>