---
import Layout        from '@/app/layouts/Layout.astro';
import ErrorBoundary from '@/shared/ui/ErrorBoundary.astro';
import { PostList }  from '@/widgets/post-list';
---

<Layout>
  <ErrorBoundary>
    <PostList client:load>
      <h2 slot="title">Latest Posts</h2>
    </PostList>
  </ErrorBoundary>
</Layout>
